body {
  font-family: $font;
  font-size: rem-calc(17);
  line-height: rem-calc(22);
  font-weight: 400;
  color: $black;
  background-color: $white;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: $font;
  font-size: rem-calc(10);
  line-height: rem-calc(25);
  color: $black;
  font-weight: 400;
  
  @include mq(350) {
    font-size: rem-calc(13);
    line-height: rem-calc(18);
  }

  @include mq(1000) {
    font-size: rem-calc(16);
    line-height: rem-calc(21);
  }
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-weight: 1000;
  font-size: rem-calc(35);
  line-height: rem-calc(43);

  @include mq(750) {
    font-size: rem-calc(45);
    line-height: rem-calc(55);
  }

  @include mq(950) {
    font-size: rem-calc(60);
    line-height: rem-calc(70);
  }

  @include mq(1100) {
    font-size: rem-calc(70);
    line-height: rem-calc(82);
  }

}

h2 {
   font-size: rem-calc(35);
   font-weight: 800;
}

h3 {
  font-size: rem-calc(20);
  line-height: rem-calc(25);
}

h4 {
  font-size: rem-calc(18);
  line-height: rem-calc(21);
}

h5 {
  font-size: rem-calc(14);
  line-height: rem-calc(18);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  overflow: hidden;
}

.bgDarker {
  background-color: #fffbf9;
}

button {
    border-style: none;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 800;
    flex: none;
    flex-grow: 0;
}

