.section_signup {
   display: flex;
   background-color: $orange;
   color: $white;
   justify-content: center;
   align-items: center;
   @include setLRPadding;

   img {
      width: 300px;
      position: relative;
      bottom: 0;
      margin-top: 30px;
      margin-right: 3vw;
   }

   &__text {
      margin: 1em 0;

      h2 {
         font-size: rem-calc(28px);
         margin-bottom: .75em;
      }

      li {
         line-height: 25px;

         &::before {
            content: " ";
            display: inline-block;
            content: url('data:image/svg+xml;utf8, <svg viewBox="39.8 359.2 760.2 600.8" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="M680 359.2L320 720 160 560 39.8 680.1 160 800l160 160 480-480z"></path></svg>');
            background-position: center 4px;
            margin-right: 10px;
            width: 17px;
            height: 17px;

            .st0{fill: rgb(172, 5, 5)189, 12, 12)}
         }
      }
   }

   button {
      background-color: #fff;
      color: $orange;
      margin-left: 5vw;
   }
}

