.contacts {
   background-color: $black;
   color: $white;
   padding-top: $padding-top;
   padding-bottom: $padding-bottom;

   @include setLRPadding;

   h2 {
      margin-bottom: 35px;
      padding-left: 10px;
   }

   a,p {
      color: $white;
   }

   &__content {
      select {
         color: $black;
         border: 1px solid $white;
      }
   }
}