.hero {
   background-color: rgb(104, 104, 104);
   height: 300px;
   position: relative;

   @include setLRPadding();

   @include mq(750) {
      height: calc(100vh - 250px);
   }

   &__content {
      position: absolute;
      z-index: 2;
      margin-top: 200px;
      margin-bottom: 200px;

      @include mq(1140) {
         h1 {
            font-size: ;
         };
      }

      h1, p {
         color: $white;
      }

      h1 {

         @include mq(1140) {
            font-size: rem-calc(50);
      }
      }

      p {
         width: 70%;
      }
   }

   &__bgVideo {
      position: absolute;
      object-fit: cover;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-position: center;
   }
}