.section_highlights {
   padding-top: rem-calc(60);
   padding-bottom: rem-calc(60);
   @include setLRPadding($padding_lr);

   .articlePreview {
      width: 400px;
      height: 300px;
      border: 1px solid black;
   }

   .categoryTabs {
      width: 100%;
      
      ul {
         display: flex;
         flex-direction: row;
         -ms-flex-align: left;

         li {
            padding-right: 50px;
         }
      }
   }

   h2 {
      font-size: rem-calc(30);
   }
}