.section_highlights {
   padding-top: rem-calc(60);
   padding-bottom: rem-calc(60);
   @include setLRPadding($padding_lr);

   .categoryTabs {
      width: 100%;
      display: flex;
      flex-direction: row;
      -ms-flex-align: left;
   }

   h2 {
      font-size: rem-calc(30);
   }
}