.contacts {
   background-color: $black;
   color: $white;
   padding-top: rem-calc(100);
   padding-bottom: rem-calc(100);

   @include setLRPadding;

   h2 {
      margin-bottom: 35px;
      padding-left: 10px;
   }

   a,p {
      color: $white;
   }
}