.section_directions {


   padding-top: rem-calc(100);
   padding-bottom: rem-calc(100);
   position: relative;
   @include setLRPadding;
   
   h2 {
      margin-bottom: 35px;
      padding-left: 10px;
   }

   .directions{
      display: flex;
      &__map {
         width: 50%;
      }
   }

   
}