.section_previews {
   padding-top: rem-calc(100);
   padding-bottom: rem-calc(100);
   @include setLRPadding-preview;
   
   h2 {
      margin-bottom: 35px;
      padding-left: 10px;
   }
   
   .articlePreviews {
      overflow: scroll;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;

      .arrow {
         height: 30%;
      }

      ul {
         width: 100%;
         display: flex;
         flex-direction: row;
         flex-wrap: none;
         justify-content: space-between;

         li {
            width: calc((100% - 40px) / 3);
            margin-left: 10px;
            margin-right: 10px;
            flex-shrink: 0;

            &:first-of-type {
               margin-left: 0px;
            }

            &:last-of-type {
               margin-right: 0px;
            }
         }

         p, h3 {
            font-weight: 700;
         }

         p {
            color: $gray-dark;
         }
      }
   }

   .articlePreview {
      height: 350px;
      border-radius: 7px;
      overflow: hidden;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

      &__image {
         background-color: rgb(109, 109, 109);
      }

      &__description {
         padding: 15px 10px;
      }
   }

   .categoryTabs {
      width: 100%;
      margin-bottom: 35px;
      padding-left: 10px;
      padding-right: 10px;
      
      h3 {
         font-size: 15px;
         color: $gray-dark;
         font-weight: 700;
         padding-left: 10px;
      }
      
      ul {
         display: flex;
         flex-direction: row;
         -ms-flex-align: left;
         
         li {
            padding: 3px 15px;
            border-bottom: 3px solid rgba($orange, .25);
            cursor: default;
         }

         li.active {
            border-bottom: 3px solid $orange;

            h3 {
               color: $orange;
            }
         }

         li:hover:not(:last-of-type):not(.active) {
            border-bottom: 3px solid $orange;

            h3 {
               color: $black;
            }
         }

         li:last-of-type {
            flex-grow: 1;
         }
      }
   }
   

}