.section_signup {
   display: flex;
   background-color: $orange;
   color: $white;
   justify-content: space-between;
   @include setLRPadding;

   img {
      width: 300px;
      position: relative;
      bottom: 0;
   }
}