.header {
   background-color: $orange;
   width: 100%;
   display: flex;
   flex-direction: column;
   color: white;
   
   &__main {
      height: 55px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: $padding-lr_4;
      padding-right: $padding-lr_4;

      @include mq(400) {
         height: 68.3px;
      }

      @include mq(500) {
         height: 81.6px;
      }

      @include setLRPadding;
      
      .logo {
         font-weight: 800;
         font-size: rem-calc(20);
         letter-spacing: rem-calc(-1.5);

         @include mq(400) {
            
         }

         @include mq(500) {
            
         }

         @include mq(600) {
            font-size: rem-calc(40);
         }
      }

      &__right {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: center;
         justify-content: right;
         display: flex;

         @include mq(770) {
            width: 340px;
         }
         
         @include mq(1000) {
            width: 440px;
         }

         input {
            width: 220px;
            height: 42.5px;
            border-radius: 4px;
            box-shadow: inset 0 0 20px rgba(0,0,0,0.1);
            background-color: $orange-drkr;
            border: 1px solid;
            border-color: rgba(0,0,0,0.1);
            color: $white;
            padding: 0px 15px;
            line-height: 1;
            padding: .75em 1em;
            font-weight: 300;
            transition: background-color 0.2s ease-in;
            
            @include mq(1000) {
               width: 320px;
            }
            
            &:focus {
               outline: none;
               background-color: darken($orange-drkr, 5%);
               transition: background-color 0.1s ease-in;

            }
         }

         .search-icon {
            width: 20px;
            height: 20px;
         }

         .login {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            font-weight: 800;
            margin-left: 20px;
            white-space: nowrap;
            
            img {
               position: relative;
               width: 30px;
               height: 30px;
               
               @include mq(770) {
                  top: -3px;
                  width: 20px;
                  height: 20px;
                  margin-left: 0px;
                  margin-right: 5px;
               }
            }
            
            span {
               display: none;

               @include mq(770) {
                  display: inline;
               }
            }
         }

         .search-icon {
            display: inline;
            width: 30px;
            height: 30px;

            @include mq(770) {
               display: none;
            }
         }

         input {
            display: none;

            @include mq(770) {
               display: inline;
            }
         }
      }
   }

   &__nav {
      height: 55px;
      border-top: 1px $white solid;
      border-color: rgba(255, 255, 255, 0.5);
      padding-left: $padding-lr_4;
      overflow: scroll;
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox

      &::-webkit-scrollbar {
         display: none;
      }
      
      @include mq(600) {
         padding-left: $padding-lr_3;
      }

      @include mq(1000) {
         padding-left: $padding-lr_2;
      }

      @include mq(1400) {
         padding-left: $padding-lr_1;
      }

      ul {
         font-weight: 800;
         display: flex;
         flex-direction: row;
         width: 1000px;
         height: 100%;
         justify-content: space-between;
         align-items: center;
      }
   }
}