.section_previews {
   padding-top: rem-calc(100);
   padding-bottom: rem-calc(100);
   @include setLRPadding($padding_lr);
   
   h2 {
      margin-bottom: 35px;
   }

   .articlePreviews {
      ul {
         width: 100%;
         display: flex;
         flex-direction: row;
         flex-wrap: none;
         justify-content: space-between;

         li {
            width: 32.5%;
            min-width: 32.5%;

            &:not(:last-of-type), &:not(:first-of-type) {
               margin-right: 15px;
            }
         }

         p, h3 {
            font-weight: 700;
         }

         p {
            color: $gray-dark;
         }
      }
   }

   .articlePreview {
      width: 100%;
      height: 350px;
      border-radius: 7px;
      overflow: hidden;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

      &__image {
         background-color: rgb(109, 109, 109);
      }

      &__description {
         padding: 15px 10px;
      }
   }

   .categoryTabs {
      width: 100%;
      margin-bottom: 35px;
      
      h3 {
         font-size: 15px;
         color: $gray-dark;
         font-weight: 700;
      }
      
      ul {
         display: flex;
         flex-direction: row;
         -ms-flex-align: left;
         
         li {
            padding: 3px 15px;
            border-bottom: 3px solid rgba($orange, .25);
            cursor: default;
         }

         li.active {
            border-bottom: 3px solid $orange;

            h3 {
               color: $orange;
            }
         }

         li:hover:not(:last-of-type):not(.active) {
            border-bottom: 3px solid $orange;

            h3 {
               color: $black;
            }
         }

         li:last-of-type {
            flex-grow: 1;
         }
      }
   }
   

}