.section_signup {
   display: flex;
   background-color: $orange;
   color: $white;
   justify-content: center;
   align-items: center;
   @include setLRPadding;

   img {
      width: 300px;
      position: relative;
      bottom: 0;
      margin-top: 30px;
      margin-right: 3vw;
   }

   &__text {
      margin: 1em 0;

      h2 {
         font-size: rem-calc(28px);
         margin-bottom: .75em;
      }

      li {
         line-height: 25px;

         &::before {
            content: " ";
            display: inline-block;
            background-image: url('data:image/svg+xml;charset=UTF-8, <svg viewBox="39.8 359.2 760.2 600.8" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="M680 359.2L320 720 160 560 39.8 680.1 160 800l160 160 480-480z"></path></svg>');
            width: 15px;
            height: 18px;
            background-position: center 3px; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: 15px 15px;
            margin-right: 10px;
         }
      }
   }

   button {
      background-color: #fff;
      color: $orange;
      margin-left: 5vw;

      border-style: none;
      border-radius: 5px;
      padding: 15px 20px;
      font-size: 15px;
      font-weight: 800;
      flex: none;
      flex-grow: 0;

      &:before {
        display: inline-block;
        content: " ";
        clip-path: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.2 80.9"><path d="M42.8.4L31.9 11.2l23.7 22.2H0V48h55.6l-24 21.6 11.2 11.3 40.4-40.7z"></path></svg>');
        background-size: 1.5ex 1.5ex;
        background-color: rgb(255, 0, 0);
        width: 1.5ex;
        height: 1.5ex;
        margin-right: 13px;
        padding-top: 3px;
      }
   }
}