.section_signup {
   display: flex;
   background-color: $orange;
   color: $white;
   justify-content: center;
   align-items: center;
   @include setLRPadding;

   img {
      width: 300px;
      position: relative;
      bottom: 0;
      margin-top: 30px;
      margin-right: 3vw;
   }

   &__text {
      margin: 1em 0;

      h2 {
         font-size: rem-calc(28px);
         margin-bottom: .75em;
      }

      li {
         line-height: 25px;

         &::before {
            background-image: url("data:image/svg+xml;utf8, <svg viewBox="0 0 83.2 80.9"><path d="M42.8.4L31.9 11.2l23.7 22.2H0V48h55.6l-24 21.6 11.2 11.3 40.4-40.7z"></path></svg>");
            
         }
      }
   }

   button {
      background-color: #fff;
      color: $orange;
      margin-left: 5vw;
   }
}

