/* ------------------------------------------
   settings.VARIABLES
------------------------------------------ */

// Fonts
$font: 'Spartan', sans-serif;

$font_btn: rem-calc(15);

// Colors
$black: #000000;
$white: #ffffff;
$orange: #ff5900;
$orange-drkr: #e65000;

// Layout
$gutter: 20px;

// Animations
$transition-in: 0.1s;
$transition-out: 0.3s;

// Box Shadow
$shadow_light: 1px 2px 2px rgba($black, 0.1);
$shadow_dark: 1px 2px 2px rgba($black, 0.2);

// Padding
$padding_lr_1: 240px;
$padding_lr_2: 140px;
$padding_lr_3: 80px;
$padding_lr_4: 20px;

$padding_lr: 20px, 80px, 140px, 240px; 