body {
  font-family: $font;
  font-size: rem-calc(14);
  line-height: rem-calc(18);
  font-weight: 400;
  color: $black;
  background-color: $white;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: $font;
  font-size: rem-calc(20);
  line-height: rem-calc(26);
  color: $black;
  font-weight: 355;
  
  @include mq(350) {
    font-size: rem-calc(24);
    line-height: rem-calc(30);
  }

  @include mq(1000) {
    font-size: rem-calc(28);
    line-height: rem-calc(35);
  }
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: rem-calc(50);
  line-height: rem-calc(53);
  font-weight: 600;
  
  @include mq(500) {
    font-size: rem-calc(60);
    line-height: rem-calc(65);
    margin-top: 0px;
  }

  @include mq(700) {
    font-size: rem-calc(70);
    line-height: rem-calc(75);
    margin-top: 0px;
  }

  @include mq(1000) {
    font-size: rem-calc(90);
    line-height: rem-calc(94);
    margin-top: 0px;
  }

  span {
    color: $orange;
  }
}

h2 {
  font-size: rem-calc(36);
  line-height: rem-calc(40);
  font-weight: 600;
  color: $black;

  @include mq(700) {
    font-size: rem-calc(46);
    line-height: rem-calc(50);
  }

  @include mq(1000) {
    font-size: rem-calc(56);
    line-height: rem-calc(60);
  }

  
}

h2+p {
  margin-top: 20px;

  @include mq(1000) {
    margin-top: 45px;
  }
}

h3 {
  font-size: rem-calc(22);
  line-height: rem-calc(26);
}

h4 {
  font-size: rem-calc(18);
  line-height: rem-calc(21);
}

h5 {
  font-size: rem-calc(14);
  line-height: rem-calc(18);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  overflow: hidden;
}

