.section_signup {
   display: flex;
   background-color: $orange;
   color: $white;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding-top: 30px;



   @include setLRPadding;

   @include mq(850) {
      flex-direction: row;
      padding-top: 0px;
   }

   img {
      width: 90%;
      position: relative;
      bottom: 0;
      margin-top: 40px;
      margin-right: 3vw;
      order: 3;
      max-width: 500px;

      @include mq(850) {
         order: 1;
         width: 200px;
      }

      @include mq(1000) {
         width: 300px;
      }
   }

   &__text {
      margin: 1em 0;
      order: 1;

      @include mq(850) {
         order: 2;
      }

      h2 {
         font-size: rem-calc(28px);
         margin-bottom: .75em;
      }

      li {
         line-height: 25px;

         &::before {
            content: " ";
            display: inline-block;
            background-image: url('data:image/svg+xml;charset=UTF-8, <svg viewBox="39.8 359.2 760.2 600.8" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="M680 359.2L320 720 160 560 39.8 680.1 160 800l160 160 480-480z"></path></svg>');
            width: 15px;
            height: 18px;
            background-position: center 3px; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: 15px 15px;
            margin-right: 10px;
         }
      }

   }

   @include buttonWithArrow($white, $orange);
   
   button {
      order: 2;
      margin-left: 5vw;

      @include mq(850) {
         order: 3;
      }
   }

}