.section_parallax {
   background-color: rgb(255, 162, 162);
   padding-top: $padding-top;
   padding-bottom: $padding-bottom;
   @include setLRPadding;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;


   
   &__left {
      max-width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2, p{
         color: $white
      }

      p {
         margin-top: 15px;
      }
   }

   &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;

      @include mq(753) {
         margin-top: 0;
      }
      
      @include buttonWithArrow($white, $black);
   }
}