.contact {
   background-color: $black;
   color: $white;
   padding-top: $padding-top;
   padding-bottom: $padding-bottom;
   
   @include setLRPadding;
   
   h2 {
      margin-bottom: 35px;
   }

   p, a {
      color: $white;
   }
   
   &__content {
      margin-top: 50px;
      display: flex;
      padding-bottom: 3em;
      flex-direction: column;

      @include mq(850) {
         flex-direction: row;
      }

      p {
         font-size: rem-calc(13.5);
      }


      &__left {
         width: 100%;
         font-size: rem-calc(17);
         line-height: rem-calc(25);
         display: flex;
         flex-wrap: wrap;
         padding-bottom: 40px;

         @include mq(850) {
            width: 34%;
         }

         label {
            font-weight: 800;
            margin-right: 10px;
            padding-top: .5em;
            flex-grow: none;
            height: 20px;
         }

         select {
            color: $white;
            background-color: $black;
            border: 1px solid $gray-dark;
            padding: .5em;
            font-weight: 800;
            height: 38px;
            flex-grow: 1;
            min-width: 150px;
            max-width: 300px;
         }
      }

      .top {
         padding-bottom: 2em;
         h3 {
            margin-bottom: .3em;
         }
      }

      &__right {
         width: 100%;
         padding-left: 0px;
         display: flex;
         flex-direction: column;

         @include mq(850) {
            width: 66%;
            padding-left: 20px;
         }

         h3 {
            font-size: rem-calc(28px);
            margin-bottom: .75em;
         }

         .bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            a {
               font-size: rem-calc(19.5);
               line-height: rem-calc(24);
               font-weight: 800;
            }

            .mail {
               margin-right: 30px;
               padding-bottom: 20px;
            }

            .mail:before {
               display: inline-block;
               content: ' ';
               background-size: 20px 35px;
               background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-35.1 54.7 120.5 91.4"><path fill="%23ffffff" d="M76.6 131.8l-31.3-31.3 31.2-31.3.1 62.6zm-97.6 5.9l31.3-31.2 1.3 1.3c7.4 7 19.1 7 26.2 0l1.3-1.3 31.5 31.3c.1-.1-91.6-.1-91.6-.1zm-5.6-68.5l31.2 31.3-31.3 31.3.1-62.6zm97.2-5.9l-38.4 38.4c-3.9 3.9-10.9 3.8-14.9-.2l-38.2-38.3h91.5zm-105.7-8.6v91.4H85.4V54.7H-35.1z"></path></svg>');
               position: relative;
               top: 7px;
               height: 28px;
               width: 28px;
               background-repeat: no-repeat;
               background-position: center center;
               margin-right: 10px;
            }

            .phone:before {
               display: inline-block;
               content: ' ';
               background-size: 20px 35px;
               background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.1 157.1"><path fill="%23ffffff" d="M157.158 124.117c0 2-.4 4.6-1.1 7.9s-1.5 5.8-2.3 7.6c-1.6 3.7-6.1 7.7-13.6 11.8-7 3.8-13.9 5.7-20.8 5.7-2 0-4-.1-5.9-.4-1.9-.3-4-.7-6.4-1.4-2.4-.7-4.1-1.2-5.3-1.6-1.2-.4-3.2-1.2-6.2-2.3-3-1.1-4.8-1.8-5.5-2-7.3-2.6-13.8-5.7-19.5-9.3-9.5-5.9-19.4-13.9-29.5-24.1s-18.2-20-24.1-29.5c-3.6-5.7-6.7-12.2-9.3-19.5-.2-.7-.9-2.5-2-5.5s-1.9-5-2.3-6.2-.9-2.9-1.6-5.3c-.7-2.4-1.1-4.5-1.4-6.4s-.4-3.9-.4-5.9c0-6.8 1.9-13.8 5.7-20.8 4.2-7.5 8.1-12.1 11.8-13.6 1.9-.8 4.4-1.6 7.6-2.3 3.2-.7 5.9-1.1 7.9-1.1 1 0 1.8.1 2.3.3 1.3.4 3.3 3.3 5.9 8.5.8 1.4 1.9 3.4 3.3 6s2.7 5 3.9 7.1c1.2 2.1 2.3 4.1 3.5 6 .2.3.9 1.2 2 2.8 1.1 1.6 1.9 2.9 2.4 4s.8 2.1.8 3.2c0 1.5-1.1 3.3-3.2 5.6s-4.4 4.3-6.9 6.1-4.8 3.8-6.9 5.9c-2.1 2.1-3.2 3.8-3.2 5.1 0 .7.2 1.5.6 2.5.4 1 .7 1.8.9 2.3.3.5.8 1.4 1.6 2.7s1.2 2 1.3 2.1c5.7 10.2 12.1 18.9 19.4 26.2 7.3 7.3 16 13.8 26.2 19.4.1.1.9.5 2.1 1.3s2.2 1.3 2.7 1.6 1.3.6 2.3.9c1 .4 1.8.6 2.5.6 1.3 0 3.1-1.1 5.1-3.2 2.1-2.1 4.1-4.4 5.9-6.9 1.9-2.5 3.9-4.8 6.1-6.9 2.2-2.1 4.1-3.2 5.6-3.2 1 0 2.1.3 3.2.8s2.4 1.3 4 2.4c1.6 1.1 2.5 1.7 2.8 2 1.9 1.1 3.9 2.3 6 3.5s4.5 2.5 7.1 3.9 4.6 2.5 6 3.3c5.2 2.6 8 4.6 8.5 5.9.3.6.4 1.3.4 2.4z"></path></svg>');
               position: relative;
               top: 7px;
               height: 28px;
               width: 28px;
               background-repeat: no-repeat;
               background-position: center center;
               margin-right: 10px;
            }

            .mail_info, .phone_info {
               margin-left: 38px;
            }
         };
      }
   }

   &__footer {
   border-top: 1px solid $gray-dark;
   border-bottom: 1px solid $gray-dark;
   display: flex;
   flex-direction: column;
   justify-content: center;

   @include mq(680) {
      flex-direction: row;
      height: 100px;
      justify-content: space-between;
   }

      &__left {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         padding-top: 20px;
         padding-bottom: 20px;
         padding-right: 20px;
         border-bottom: 1px solid $gray-dark;
         justify-content: center;
         order: 3;
         
         @include mq(680) {
            border-bottom: 0px;
            width: 34%;
            justify-content: flex-start;
            order: 1;
         }

         p {
            margin-top: 20px;
            font-size: rem-calc(9);
            line-height: rem-calc(12);
            padding-left: 20px;
            width: 155px;
         }

         img {
            width: 55px;
         }
      }

      &__center {
         order: 2;
         height: 100%;
         min-width: 10px;
         flex-grow: 1;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding-top: 20px;
         padding-bottom: 20px;
         border-bottom: 1px solid $gray-dark;
         
         @include mq(680) {
            align-items: flex-start;
            border-bottom: 0px;
         }

         p {
            font-size: rem-calc(12);
            font-weight: 800;
            margin-bottom: 7px;
         }

         img {
            width: 140px;
         }
      }

      &__right {
         order: 1;
         width: 100%;
         border-left: 0px;
         display: flex;
         padding-left: 0px;
         padding-top: 20px;
         padding-bottom: 20px;
         align-items: center;
         justify-content: center;
         border-bottom: 1px solid $gray-dark;
         
         @include mq(680) {
            order: 3;
            border-left: 1px solid $gray-dark;
            padding-left: 25px;
            justify-content: space-between;
            width: 189px;
            border-bottom: none;
         }

         img {
            width: 35px;
            height: 35px;
            margin-left: 20px;
            margin-right: 20px;
            
            @include mq(680) {
               margin: 0;
            }
         }
      }
   }

   &__bottom-links {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @include mq(680) {
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;
      }
      
      nav {
         flex-grow: 1;
         display: flex;
         justify-content: center;

         @include mq(780) {
            justify-content: flex-start;
         }
      }

      a {
         font-size: rem-calc(11.5);
         margin-right: 30px;

         &:last-of-type {
            margin-right: 0px;
         }
      }
      
      p {
         font-size: rem-calc(11.5);
         color: $gray-dark;
         padding-top: 4px;
         text-align: center;
         width: 100%;

         @include mq(780) {
            width: auto;
         }
      }
   }
}
