.hero {
   background-color: rgb(104, 104, 104);
   height: 300px;
   position: relative;

   padding-left: $padding-lr_4;
   padding-right: $padding-lr_4;

   @include mq(600) {
      padding-left: $padding-lr_3;
      padding-right: $padding-lr_3;
   }

   @include mq(1000) {
      padding-left: $padding-lr_2;
      padding-right: $padding-lr_2;
   }

   @include mq(1400) {
      padding-left: $padding-lr_1;
      padding-right: $padding-lr_1;
   }

   @include mq(750) {
      height: calc(100vh - 250px);
   }

   &__content {
      position: absolute;
      z-index: 2;
      margin-top: 200px;
      margin-bottom: 200px;



      h1, p {
         color: $white;
      }

      h1 {
         width: 50%;
      }

      p {
         width: 70%;
      }
   }

   &__bgVideo {
      position: absolute;
      object-fit: cover;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-position: center;
   }
}